* {
    margin: 0;
    padding: 0;
}

#webdev {
    display: none;
}

.header__wrapper {
    max-width: 1600px;
    width: 100%;
    background-color: #000000;
    margin: 0 auto;
}

.navigation {
    max-width: 601px;
    width: 100%;
    margin: 0 auto;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 5px;
}

.navigation__item {
    list-style: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    opacity: .8;
    cursor: pointer;
}

.navigation__item:nth-child(1) {
    border-bottom: 1px solid white;
}

.navigation__item:hover {
    color: red;
}

.first__section__wrapper {
    max-width: 1600px;
    width: 100%;
    background: no-repeat url("../images/bg-image.png");
    background-size: cover;
    height: 744px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.first__section__items {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 51px;
    height: 298px;
}

.first__section__title {
    color: white;
    max-width: 730px;
    width: 100%;
    letter-spacing: 4.5px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-transform: uppercase;
    margin-top: -12px;
}

.first__section__text {
    width: 504px;
    height: 50px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 13px;
}

.first__section__button {
    height: 46px;
    width: 184px;
    background-color: #00AFDB;
    color: white;
    font-family: "Roboto", sans-serif;
    padding: 15px 47px;
    border: none;
    cursor: pointer;
    margin-bottom: 75px;
}

.first__section__button:hover {
    transform: scale(1.05);
    transition: .4s;
}

.social__icons {
    width: 170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 90px;
}

.second__section__wrapper {
    max-width: 1600px;
    width: 100%;
    height: 842px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.smart__design__block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    width: 400px;
    height: 260px;
}

.smart__design__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 28, 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.smart__design__text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 19, 6px;
}

.smart__design__btn {
    height: 46px;
    width: 184px;
    background-color: #00AFDB;
    color: white;
    font-family: "Roboto", sans-serif;
    padding: 15px 47px;
    border: none;
    cursor: pointer;
}

.smart__design__btn:hover {
    transform: scale(1.05);
    transition: .4s;
}

.img__block {
    background: no-repeat url("../images/content-image-1.png");
    background-size: cover;
    width: 407px;
    height: 582px;
}

.third__section__wrapper {
    max-width: 1600px;
    width: 100%;
    height: 504px;
    background-color: #F5F6F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.community__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 298px;
    height: 175px;
}

.community__img {
    background: no-repeat url("../images/Frame-6.png");
    background-size: cover;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    margin: 0 auto;
}

.community__title {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 2.4000000953674316px;
    text-align: center;
    text-transform: uppercase;
}

.community__text {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
}

.slider__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 894px;
    width: 100%;
    overflow: hidden;
}

.slider__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__pages {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
}

.slider__images {
    display: flex;
    justify-content: space-between;
}

.slider__img__one {
    background: no-repeat url("../images/slider-items-1.png");
    background-size: cover;
    width: 407px;
    height: 244px;
    margin-right: 30px;
}

.slider__img__two {
    background: no-repeat url("../images/slider-items-2.png");
    background-size: cover;
    width: 407px;
    height: 244px;
    margin-right: 30px;
}

.slider__img__three {
    background: no-repeat url("../images/slider-items-3.png");
    background-size: cover;
    width: 20px;
    height: 244px;
}

.fourth__section__wrapper {
    max-width: 1600px;
    width: 100%;
    height: 842px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.fourth__section__img__block {
    background: no-repeat url("../images/content-image-2.png");
    background-size: cover;
    width: 407px;
    height: 582px;
}

.code__block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 407px;
    height: 184px;
}

.code__title {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
}

.code__text {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.code__btn {
    height: 46px;
    width: 184px;
    background-color: #00AFDB;
    color: white;
    font-family: "Roboto", sans-serif;
    padding: 15px 47px;
    border: none;
    cursor: pointer;
}

.code__btn:hover {
    transform: scale(1.05);
    transition: .4s;
}

.fifth__section__wrapper {
    background: no-repeat url("../images/image-bg-2.png");
    background-size: cover;
    max-width: 1600px;
    width: 100%;
    height: 526px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.fifth__block {
    width: 406px;
    height: 104px;
}

.fifth__section__title {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

#form {
    width: 460px;
    height: 46px;
    display: flex;
    align-items: center;
    margin-top: 35px;
}

#email {
    width: 340px;
    height: 46px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: black;
    border: none;
    padding-left: 10px;
}

#email::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #373737;
    padding-left: 10px;
}

#form-btn {
    width: 66px;
    height: 46px;
    background-color: #00AFDB;
    border: none;
    cursor: pointer;
}

#form-btn:hover {
    transform: scale(1.1);
    transition: .4s;
}

.six__section__wrapper {
    max-width: 1600px;
    width: 100%;
    height: 468px;
    background-color: #F5F6F7;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
}

.six__block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    height: 165px;
}

.download__title {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
    color: #373737;
}

.download__text {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    max-width: 483px;
    width: 100%;
    color: #4E4E4E;
}

.download__btns {
    display: flex;
    justify-content: center;
}

.download__btn__apple,
.download__btn__play {
    width: 128px;
    height: 50px;
    background-color: #00AFDB;
    text-transform: uppercase;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 17px;
    border: none;
    cursor: pointer;
}

.download__btn__apple:hover {
    transform: scale(1.05);
    transition: .4s;
}

.download__btn__play:hover {
    transform: scale(1.05);
    transition: .4s;
}

.apple-icon,
.android-icon {
    width: 60px;
    height: 50px;
    border: none;
    background-color: #009CC2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apple-icon {
    margin-right: 35px;
}

.footer__wrapper {
    max-width: 1600px;
    width: 100%;
    height: 184px;
    margin: 0 auto;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__links {
    width: 236px;
    height: 20px;
}

.links__items {
    list-style: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.links__item {
    cursor: pointer;
}

.links__item:hover {
    transform: scale(1.1);
    transition: .4s;
}

.links__item__slash {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: gray;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .4s;
}

.footer__sign {
    width: 170px;
    height: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #818181;
}